[2019-03-04 16:18] kisvegabor opened #1 "Architecture design"
In continue of https://github.com/littlevgl/lvgl/issues/601

---

So according to my current understanding, the concept is the following:
- Use the Python or Micropython binding of LittlevGL to dynamically create a GUI on a canvas (the Micropython binding is more complete right now)
- Via the binding instruct LittlevGL to create objects and modify their properties.
- The script - which generated t

[2019-03-04 16:50] embeddedt commented on #1
@AGlass0fMilk

As long as this feature is by default, and not mandatory, I'm fine with that. I just don't want the GUI builder to restrict functionality, i.e. the user should easily be able to adjust `lv_conf.h` and make changes to the generated C code.

[2019-03-04 16:55] AGlass0fMilk commented on #1
@embeddedt

Yes, I agree. It should be possible to manually modify the configuration and generated C code. One complication is: do these manual modifications need to propagate to the editor when a project is reopened? Can a project be imported from an exported code? If so, how? This may help argue the case for an intermediate (ie: XML) representation of the GUI.

[2019-03-04 20:25] amirgon commented on #1
If you are using micropython, it is easy to know the configuration that was set in lv_conf.h. For example, if you want to know if some object was enabled, just check if there is such class in lvgl module. Python introspection is handy in such situations.

[2019-03-05 03:12] AGlass0fMilk commented on #1
I have worked with pytkinter and wxPython before and haven't been very impressed with either.

I asked a colleague for recommendations for a GUI library with a Python binding and he suggested pyGObject/Gtk. It has a graphical GUI builder (Glade). I haven't used it before but I'm going to play around with it a bit.

It is cross-platform as well.

Does anyone have a preference for the GUI library?

[2019-03-05 03:17] embeddedt commented on #1
@AGlass0fMilk I think @amirgon wants to use LittlevGL as the GUI for the GUI builder.

[2019-03-05 03:21] AGlass0fMilk commented on #1
From a performance standpoint that doesn't really make sense.

The `pc_simulator` project is fine for demoing and prototyping but the simulated mouse and lack of more complex built-in controls would make it a really annoying desktop application to use.

It would be a cool proof-of-concept or showcase project but I think it wouldn't perform very well as a tool.

[2019-03-05 07:32] amirgon commented on #1
@AGlass0fMilk

I don't agree. There is no reason why you wouldn't get decent performance with lvgl as a GUI.  If you are missing some "more complex built-in controls" then add them to lvgl and it would be a useful addition to lvgl in general.

It makes more sense to use lvgl as GUI since you want to display and manipulate lvgl components, and lvgl already contains all the logic of how to draw and

[2019-03-05 10:47] kisvegabor commented on #1
To decide it let's collect which controls are required to build up the GUI designer.

I have these in mind:
Simple ones:
- Buttons
- Texts
- Text input
- Dropdowns

Complex ones:
- File browser
- Menu system with submenus

It really would be great to create the GUI builder with LittlevGL because:
- It sounds great that the designer is also built with LittlevGL.
- Good for demonstration as it's a v

[2019-03-05 11:32] amirgon commented on #1
@kisvegabor Which libraries did you have in mind?

[2019-03-05 15:16] embeddedt commented on #1
@kisvegabor Is the Python binding complete enough to be usable within our timeframe? Ideally we could release the GUI builder alongside `v6.0`.

[2019-03-05 15:38] AGlass0fMilk commented on #1
My suggestion is that we build a GUI builder tool targeted towards efficient desktop computer use.

Then, using the tool, we can build very complex, beautiful UI that is easy and efficient to create/design.

**The UI _we create_ with the tool can showcase the capabilities of LittlevGL.**

Using a desktop-oriented GUI library to build this tool makes sense for a few reasons:

1. Desktop UI will be

[2019-03-05 15:43] embeddedt commented on #1
I agree with @AGlass0fMilk. It's probably simpler to make the GUI with a proven desktop tool.

[2019-03-05 18:56] amirgon commented on #1
Personally, I liked the idea of lvgl-GUI-Builder-built-in-lvgl better.

In my opinion it has a larger potential to drive lvgl forward.
I just don't see how a desktop application that only outputs lvgl code can bring any improvement to the lvgl library itself.

I'm not sure any of these claims is true. lvgl is easy to develop with, can run fast enough and any time spent for adding a missing feature

[2019-03-05 19:02] embeddedt commented on #1
@amirgon Please explain why you think using LittlevGL for the graphics library would be better.

It brings a lot of improvement. With this the user no longer needs to spend time fiddling with the coordinates and sizes of objects on a display. Now they can just set everything up on their screen visually.

@AGlass0fMilk already highlighted some problems which make sense:

[2019-03-05 19:42] amirgon commented on #1
@embeddedt

- Because it will boost lvgl library itself forward, see my previous post.
- Because it could enable running the GUI Builder as a web application.
- Because someone who develops GUI in lvgl will understand lvgl better in order to create a GUI-Builder for lvgl
- Because it will be easier to display and manipulate lvgl components on screen. If you are not using lvgl to build lvgl GUI, th

[2019-03-05 20:38] AGlass0fMilk commented on #1
This feature/project pertains to a GUI builder for the lvgl library, not the lvgl library itself. You can still contribute to the lvgl core library in parallel.

We are targeting embedded developers so I don't see much advantage to a web-based application. A desktop-based application will have more support for additional features (such as interacting with and uploading to attached target hardware)

[2019-03-05 20:42] embeddedt commented on #1
I fully agree with all of @AGlass0fMilk's comments. I see no reason to add additional work by making the GUI builder with LittlevGL.

[2019-03-05 22:51] kisvegabor commented on #1
I try to group the mentioned questions:

### Use LittlevGL to create the builder itself or not?
1. It really would have the benefit of adding nice things to LittlevGL
2. It would slow the development of the builder
3. The desktop GUI libraries have a well-known design and users are familiar with them
4. The desktop GUI libraries are battle-tested for this purpose
5. LittlevGL surely will have issu

[2019-03-06 02:38] AGlass0fMilk opened #2 "Build-time configuration needs to be adjustable at run-time"
When building for GUI builder, certain parameters of the LittlevGL configuration should be adjustable at run-time. Some examples include:

- Display resolution
- Color depth
- Cursor blink speed

Additionally, **all** modules must be enabled for use by the GUI builder.

I have to look a bit deeper to see how complicated it would be to change things like the display resolution at run-time. Some thi

[2019-03-06 02:52] AGlass0fMilk opened #3 "Introduce standardized, parsable comments to facilitate automatic binding and metadata"
I'm not sure how needed this is, but it may be useful to introduce a standardized, parsable comment format for widget structs (and maybe other things?) to facilitate more reliable automatic binding and discovery of metadata (ie: what does a struct's field do?)

There are already doxygen comments but some things are missing tagged comments.

[2019-03-06 03:09] embeddedt commented on #2
@AGlass0fMilk Work is already being done to upgrade LittlevGL to dynamically handle rotation/multiple displays, which should solve that part of the problem: https://github.com/littlevgl/lvgl/issues/329

[2019-03-06 04:06] AGlass0fMilk commented on #1
The examples from pylvgl use pyQT5 as the backend. I used a similar process to create a GTK-based LVGL display. See screenshot below (just demo UI, not any kind of mockup). It's nice because GTK automatically scales the LittlevGL canvas up on my HiDPI 4k display. QT displays it at 1:1 resolution and it's kind of small and hard to see on my display. Though it does look a bit pixelated, there are op

[2019-03-06 07:52] rreilink commented on #1
It has been a while, but I can start again spending some time on this. Now that there is a dev-6.0 branch, I can use that to integrate Python & MicroPython bindings, for which I already did quite some work a while ago. I can assist in focussing on specific things if they are required for the gui development.

@AGlass0fMilk if you have any specific requirements, let me know and I can focus on them.

[2019-03-06 08:08] rreilink commented on #1
Regarding the architecture:

I'd agree with @kisvegabor 's conclusions.

I have been thinking about a GUI builder for a while (even before this discussion) and I would think of an offline Qt (or similar) Python application, which uses the lvgl Python bindings to draw the gui that is being designed on a canvas. The result can be exported as C, Python, or XML.

The user can interact with the canvas

[2019-03-06 13:29] AGlass0fMilk commented on #1
@rreilink Yes, that's what I was thinking.

My first thought is to use an XML internal representation. Then, we can develop converters that take the XML and generate the appropriate code for whatever language is being used. GUI projects can then be saved in the XML format and imported. This wouldn't allow for code changes to be back propagated to the GUI design however.

The GUI designer could int

[2019-03-06 13:32] AGlass0fMilk opened #4 "Style editor tab"
Since most of the visual configuration in lvgl is done using `style` objects, perhaps we can have a dedicated tab in the GUI builder where all the styles in a project can be created and configured.

This would give the user a complete picture of how many styles they use in their UI and thus the memory usage they are incurring.

If this should be a feature, what other features will this tab have? C

[2019-03-06 13:38] AGlass0fMilk opened #5 "Automatically enable/disable modules based on widgets being used in design"
I think a nice feature of the GUI builder would be to automatically disable/enable lvgl modules based on the widgets that are included in a design. This would save the user time of going through and determining all the dependencies for a widget and configuring it themselves.

When a user places a widget that relies on a module that is not currently enabled, we can pop up a prompt that asks the use

[2019-03-06 13:44] kisvegabor commented on #1
@rreilink I suggest opening an issue in `lvgl` repo to continue with the Python binding. Do you agree?

@AGlass0fMilk Let's discuss the details of tooltips and helps in #3

Having a layout design of the UI ( just a simple scratch) to see how the control elements are organized would be important already in this phase too.

[2019-03-06 14:04] kisvegabor commented on #3
It was already discussed with @rreilink to aid the Python binding generation with naming conventions. The main issue was that Python bindings (including Micropython) use the C pre-processed code where defines and comments are already not available.

So to get the comments the source code needs to be processed.  Parsing the comment seems doable if they are added correctly, however, it will make the

[2019-03-06 14:08] kisvegabor commented on #2
Aa @embeddedt mentioned a lot of formerly `define`d parameters will be (or already) reworked to be run-time settable.

#if USE_LV_ARC != 0 || GUI_BUILDER_BUILD

We should have 2 `lv_conf.h`:
1. for the Python binding. Here everything should be enabled to add all options to the editor. The user has nothing to do with that.
2. and other for the exported GUI code. Here some options can be automatical

[2019-03-06 14:15] kisvegabor commented on #4
Good idea to have a style editor tab where you can see and configure all your styles. I agree, it also would be nice to add some simple objects for `body`, `text`, `line` and `image` properties.

Besides style editor two it would be great to have
- Font tab:
  - Add ttf files
  - Set what sizes (and other parameters) are required from them
  - Automatically generate/update the fonts when the code

[2019-03-06 14:18] kisvegabor commented on #5
Sounds very reasonable. However, I'm not sure we can estimate the ROM usage because it depends on the compiler optimization, architecture etc.
But telling that by placing an `lv_win` object, `lv_btn`, `lv_label`, `lv_cont` and `lv_page` will be also enabled might be useful.

[2019-03-06 14:31] AGlass0fMilk commented on #3
It may make maintenance of the code more difficult, but I think overall it will be less work. This way, all the information about the code is contained in the code itself. The same reason doxygen is so prevalent. Writing the same documentation twice is more difficult, and maintaining code comments _and_ documentation is twice as much confusion :wink:

From my poking around in the python binding, o

[2019-03-07 14:02] kisvegabor commented on #3
Oh, I really missed that. Anyway, the pre/postfixes should work.

I mean for example in `lv_label_set_text(label, "some text")` memory will be allocated by LittelvGL to save the text. So it also works:
[code]
However, for example `lv_btnm_set_map(btnm, map)` required `map` to remain in the memory because only its pointer is saved.

Some updates should be done in this regard to make it clearer.

[2019-03-07 19:27] rreilink commented on #3
However, it is detected as an `lv_color_t` in the C parser when the bindings are generated. I could easily store this information in the Python bindings, e.g. have a `get_color` method which has a '_type_' attribute that contains the C type, or give every object class a list of (attribute, type) tuples.

[2019-03-07 19:28] rreilink commented on #1
I just did :-)

[2019-03-08 14:37] kisvegabor commented on #3
Can you show an example about how it would look like for example in case of
`void lv_label_set_text(lv_obj_t * label, const char * text)`?

[2019-03-10 19:06] rreilink commented on #3
@kisvegabor for `lv_label_set_text` this is not an issue, since the bindings already map C `char*` to Python `str`, C `bool` to Python `bool`, and will map structured types (like `lv_style_t *`) to a Python equivalent class (MicroPython bindings already do the latter, this is still to be implemented).

The issue is for enumerated types, colors and the like which are mapped to integers, so from the

[2019-03-10 19:16] rreilink commented on #3
Actually, the change was so trivial that I have already implemented option 1: [see this commit](https://github.com/rreilink/pylvgl/commit/1336d26f7980621d10eb74285cd7afbda805fd01)

[2019-03-10 20:43] AGlass0fMilk commented on #3
@rreilink

I’ll have to check out that code and get started on the builder. I have a basic GTK layout started so far.

[2019-03-11 21:58] rreilink commented on #3
@AGlass0fMilk : any chance of using Qt (PyQt / PySide) instead of GTK? In my experience that creates cross-platform applications that have a more 'native' feeling. I also have quite some experience with it so could provide some help with the GUI builder, too.

Obviously, of you are more experienced in using GTK, surely go ahead with that, and I'll try to support by providing the required Python bi

[2019-03-11 22:44] AGlass0fMilk commented on #3
@rreilink it’s early on enough I can try out pyQt/pySide. I don’t have a preference as long as it’s not wxPython or tkinter.

On Mar 11, 2019, at 5:58 PM, rreilink <notifications@github.com<mailto:notifications@github.com>> wrote:

@AGlass0fMilk<https://nam01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAGlass0fMilk&data=02%7C01%7C%7Ceff4ed491efd4869b5ad08d6a66cbbd6%7C84df9e7fe

[2019-03-13 04:17] kisvegabor commented on #3
@rreilink Option 1 (what you already implemented) seems very flexible and easy to use for me too. Good idea!

[2019-03-23 12:39] kisvegabor commented on #4
@AGlass0fMilk did you have a chance to make further experiments?

[2019-03-26 19:20] AGlass0fMilk commented on #4
I haven't had time to work on it since we decided to switch to Qt.

What I have so far is a mocked up a main window based on the GTK builder (Glade) with separate tabs for each of these utilities.

I'll try to find some time soon to work on this.

[2019-03-27 12:10] kisvegabor commented on #4
Ok, thank you for the feedback! :+1:

[2019-05-22 04:24] AGlass0fMilk commented on #2
@kisvegabor It's been a while but I read through some of the issues in lvgl and it seems this requirement is complete in the dev-6.0 feature branch? Is that correct?

I am working on updating the pylvgl binding to lvgl 6.0, see https://github.com/rreilink/pylvgl/issues/3

[2019-05-22 04:27] AGlass0fMilk commented on #1
Began work on PyQt-based GUI builder. Being somewhat blocked by the state of the pylvgl binding.

See the initial-development branch.

![Screenshot from 2019-05-22 00-26-30](https://user-images.githubusercontent.com/350500/58147410-54843f80-7c28-11e9-8700-6ff985986990.png)

[2019-05-22 04:51] kisvegabor commented on #2
Yes, we turned all possible hard-coded settings to run-time configuration. So I think we can close this issue.

Awesome! We are planning to release v6.0 in June so there is some time to update things if necessary.

[2019-05-22 04:55] kisvegabor commented on #1
Awesome! Looks good. It seems it has everything we have discussed.

[2019-05-22 13:22] AGlass0fMilk commented on #2
@kisvegabor could you briefly go over what "all possible hard-coded settings" are and what API(s) have been introduced to alter them at run-time?

[2019-05-22 14:16] embeddedt commented on #2
@AGlass0fMilk

* Most of the display-related settings (resolution, buffer size, etc.) are now configured at runtime. This should give you an idea: https://github.com/littlevgl/lvgl/blob/dev-6.0/porting/lv_port_disp_template.c

* * However, there is now a hardcoded maximum display size, though we could just set it to a reasonable value for a typical embedded platform (i.e. I see little need to go b

[2019-05-22 16:52] AGlass0fMilk commented on #1
I have a basic lvgl simulator working with the newest release of pylvgl.

I decided to use `QGraphicsView` as the base class because it has a framework in place for translating between application and "scene" (LittlevGL) coordinates. It also handles drawing layers and multiple items.

Currently, the lvgl framebuffer is drawn as the background layer. This will allow us to overlay builder-related UI

[2019-05-22 17:18] embeddedt commented on #1
Excellent! This is looking great thus far.

[2019-05-23 04:01] kisvegabor commented on #2
@AGlass0fMilk
Have look at these structs to see the run time configurable parameters:
- Display: https://github.com/littlevgl/lvgl/blob/dev-6.0/src/lv_hal/lv_hal_disp.h#L59
- Indev: https://github.com/littlevgl/lvgl/blob/dev-6.0/src/lv_hal/lv_hal_indev.h#L71

@embeddedt

We can make it configurable for each display if you find it reasonable.

It could be possible too to store these values in varia

[2019-05-23 04:20] kisvegabor commented on #1
Wonderful! I'm very happy to see it working. :)

[2019-05-23 11:26] AGlass0fMilk commented on #1
Got some basic introspection working with lvgl objects. I have it automatically populating the widget list from classes discovered in the `lvgl` module that inherit from `lvgl.Obj`. This way, when we add new widgets there's no extra configuration to do... although the names aren't very user friendly.

My goal is to make basic functionality work without manually creating metadata for each new widge

[2019-05-23 14:36] embeddedt commented on #2
Why not just enable the full API (with padding for all sides) and if the tiny version is used, use the larger of the two values?

It would work somewhat like this:

[code]

The advantage of this setup is that regular users no longer need to adjust their code if they change that config setting.

[2019-05-24 04:12] kisvegabor commented on #1
We can add `lv_obj_set/get_name` which can be useful for debugging too. Finally, the `lv_obj_set_name` functions shouldn't be exported. What do you think?

Can you mention a few things what we can store here?

[2019-05-24 04:29] kisvegabor commented on #2
@embeddedt I updated it as you suggested https://github.com/littlevgl/lvgl/commit/d3d9fde2451d266aab9a4117e41eaa405116abf8

If you agree I can make `LV_COLOR_TRANSP`, text, and Text area setting run-time configurable.

[2019-05-24 12:30] embeddedt commented on #2
@kisvegabor Excellent! That's exactly what I was thinking!

[2019-05-24 19:54] rreilink commented on #1
Would it not make more sense to store the name of the object (which could become the variable name in the C/Python application if code is to be generated) in a dictionary in the GUI designer?

(actually, the dictionary could be a `weakref.WeakKeyDictionary` with the lvgl objects as keys and their names as values; using a WeakKeyDictionary causes the objects to automatically disappear from the dict

[2019-05-25 14:30] kisvegabor commented on #2
I updated `LV_COLOR_TRANSP`, `LV_TA_CURSOR_BLINK_TIME` and `LV_TA_PWD_SHOW_TIME`.
See https://github.com/littlevgl/lvgl/commit/b0fffaa55b52e517ddac4c66f7044dff24b0fffd

[2019-05-25 15:03] kisvegabor commented on #1
Great idea. It sounds better to me.

[2019-05-25 16:52] AGlass0fMilk commented on #1
Yes, I agree. I made a custom QTreeItem class for the QTreeWidget. It stores a handle to the associated lv_obj pointer. We can associate extra data in this way.

The only thing is that the names of the actually classes are not so pretty. “Btn” should show as “Button” in the widget selection pane. We can have a directory of JSON files that store extra metadata about widget classes (like pretty name

[2019-05-25 17:01] kisvegabor commented on #1
It's a good example of what can be stored in the metadata files. It seems a flexible and extensible method to store any extra data.

[2019-07-04 08:00] xqdd opened #6 "Something that can use for reference"
## WYSIWYG

## language level

## inspector

## builder

## xml

In fact, we need to work out well with 3 things:
1. easy to layout (HTML)
2. easy to style (CSS)
3. easy to bind event (Javascript)

Look like web development(https://vuejs.org/v2/guide/single-file-components.html)

[2019-07-09 19:49] embeddedt commented on #1
@AGlass0fMilk Have you made any more progress on this?

[2019-07-10 14:42] AGlass0fMilk commented on #1
Yes I have done a bit more but I've been busy with other projects lately. I don't see having much time to work on this soon.

I wanted to get it to a starting point so other people could jump on and help. It's much easier to start with something rather than nothing.

Currently, I recall having it working well enough to select UI elements in the simulated screen (with double clicking allowing you t

[2019-07-10 15:46] AGlass0fMilk commented on #1
I'm running on Ubuntu 18.04, steps should be similar but slightly different for other operating systems.

Steps to get demo lvgl builder running:

1.) Set up **python3** virtual environment: `virtualenv -p python3 ~/python-lvgl`
2.) Activate virtualenv: `source ~/python-lvgl/bin/activate`
3.) Install PyQt5: `pip install PyQt5`
4.) Install pylvgl: `cd ~/Documents && git clone https://github.com/rre

[2019-07-11 04:26] kisvegabor commented on #1
@AGlass0fMilk Thank you for the update and the steps.

I'll try it and look into the code soon. Unfortunately, I can't continue your work but hopefully, somebody will be interested in it!

[2019-07-11 10:36] embeddedt commented on #1
I'm interested in working on it at some point (once I learn enough Python :smile:).

[2019-07-11 11:31] AGlass0fMilk commented on #1
I can work on it here and there but I’m pretty booked out until mid August at this point. @embeddedt let me know if you have any questions. Feel free to email me (see profile)

[2019-07-27 05:09] kaiakz commented on #1
Hi, everyone!
I am the author of [lv_gui_desiner](https://github.com/kaiakz/lv_gui_designer)， a similar tool to lv_gui_builder but built with LittlevGL.    @AGlass0fMilk   Althought we are different in interface approching, we can still working together in code generation. :smile:
Now I working at project file generation. A project file should store all meta data. Editor can read and convert it in

[2019-07-27 15:01] kisvegabor commented on #1
@kaiakz
Wouldn't it be too verbose in XML to describe so many parameters? (Position, sizes, draggable, clickable and the object type specific parameters and so on). For me, JSON seems more compact for this purpose.

[2019-07-27 17:12] kaiakz commented on #1
XML has three parts: element、attribute and element content. Here are some example:
Qt Creator's .ui file [(format)](https://doc.qt.io/archives/qt-4.8/designer-ui-file-format.html)
[code]
Glade creates XML-file .glade, it's said that gtk support [CSS](https://developer.gnome.org/gtk3/stable/chap-css-overview.html). (XML + CSS ?)
[code]

[2019-07-27 18:12] embeddedt commented on #1
@kaiakz

[code]

is much too verbose in my opinion. Borrowing ideas from HTML, why can't it be more like this?

[code]

[2019-07-28 08:57] kaiakz commented on #1
@kisvegabor Yes, JSON has the adventure to represent attributes, but it's weak to represent hierarchy(parent-children layer). I have tried to write two examples:
In XML:
[code]
In JSON
[code]

[2019-07-28 15:20] kaiakz commented on #1
@embeddedt that's a good idea. So it can be
[code]
obj_type is btn, win, bar, etc.
attribute has id(real name) ,position(x, y), sizes(h ,w), draggable, clickable and the object type-specific parameters , even event_cb(function name). If some attributes do not be customized, they won't appear.
[code]
I am writing some code about  XML2LiveDemo(load project file):
Build a stack to store parent, when

[2019-07-29 12:44] kisvegabor commented on #1
I also like the HTML-like format.

Build a stack to store parent, when program meets , calls lv_obj_create(parent, NULL), it will choose the top of stack as parent. Use lv_obj_set_xx to set the attributes. Stack will pop the top when it meets . Loop......

Awesome! Curiously waiting to see it! :+1:

[2019-08-01 16:09] kaiakz commented on #1
@kisvegabor @embeddedt
I wrote a simple demo. It parses the XML file to the real interface by SAX and a stack.
![load](https://user-images.githubusercontent.com/51747223/62309678-8f251680-b4ba-11e9-8676-2d63a0013044.gif)
Just type some XML tags: `<BTN><LABEL>`, X-Y attribute to determine all widgets. Maybe some tags name need to improve, such as `<BUTTON>` is better than `<BTN>`?

[2019-08-02 01:36] embeddedt commented on #1
@kaiakz Since the XML is unlikely to be used directly by a user (and in the case that it does, `btn` would be familiar as it is the abbreviation used inside the library) I think we can stick with `<BTN>` for now.

But it's looking great already! I'm impressed by how far you've gotten so quickly.

[2019-08-02 01:48] embeddedt commented on #1
@kisvegabor In 6.1 we should probably add some relevant object-related symbols (e.g. LED, line, slider).

[2019-08-02 04:43] kisvegabor commented on #1
I agree. The short names should be fine.

I'm also very impressed! You have made a great progress.

@embeddedt

I don't think it's required for two reasons:
1. These could be custom symbol probably as images. I doubt that there is a font where we will find symbols for every object type
2. It's application specific and probably won't be used by other users.

@kaiakz
I have a conceptual question: ho

[2019-08-02 09:02] kaiakz commented on #1
@kisvegabor @embeddedt

I found a solution:
In lv_gui_designer, I use `lv_obj_user_data_t ` to attach some info(id, type, etc) that we can't get by LittlevGL API(lv_get_xx/lv_set_xx). It points to a `widget_info_t` structure. The structure will be allocated(malloc) when a widget is created. (There might be a memory problem because I did not free it after a widget was deleted by `lv_obj_del()`). It

[2019-08-02 12:47] embeddedt commented on #1
@kaiakz Provided that you named the XML attributes to match the LittlevGL APIs, you could do something like this (pseudocode):

[code]

[2019-08-02 20:30] amirgon commented on #1
Hi @kaiakz !

Just wanted to throw an idea.

If you wrote your project in Python/Micropython instead of C, you wouldn't need XML file at all to describe your meta-data!

Instead, you could take advantage of the fact that Python is a dynamic introspective language, as opposed to C. Instead of using XML (or JSON or whatever) for your meta-data, you could simply create LittlevGL python objects dynami

[2019-08-03 16:16] kaiakz commented on #1
@amirgon Thanks! Here are my brainstorm:
If I understood your idea well, what you means is that I can write it in Python and store all meta-data in Python code(generate by tool), just convert the Python to C if we need C code. Snce Python is an interpreted language, user can not only create/modify widget in live view, but also add a callback for it. Adding/changing a callback function in run-time

[2019-08-04 09:13] amirgon commented on #1
@kaiakz Not exactly.
What I meant is that LittlevGL python objects **already contains** the metadata, in a way.

I'll give you an example.

First You create some LittlevGL python object, let's say a button. You set its properties by calling setter functions, just like you do in C. For example set its position, or whatever.

Now you want to save the meta-data to a file. Meta data consists of many a

[2019-08-07 04:59] kaiakz commented on #1
@amirgon
Yesterday, I have tried to install [lv_micropython](https://github.com/littlevgl/lv_micropython). Sadly, I met some trouble when execute `make -C ports/unix/`, then shows:
[code]

I haven't solved this yet. However, your work is excellent. I tried [live-demo](https://cdn.statically.io/gh/littlevgl/lv_micropython/ef943a1ab40b32a8a77059d6e833a440446c51e8/ports/javascript/lvgl_editor.html?en

[2019-08-07 06:17] amirgon commented on #1
lv_micropython is stable and aligned with recent upstream Micropython and with lvgl v6.1. I've tested it with the unix port and ESP32 port.

Did you remember to run `git submodule update --recureive --init`?

Also, please have a look at [Micropython readme](https://github.com/micropython/micropython/blob/master/README.md):

Then to build the unix port, run `make -C ports/unix`
It should build and

[2019-08-08 15:40] AGlass0fMilk commented on #1
Yes but XML may give more readable UI layout files.

It would more easily facilitate export of UI designs to multiple languages (like C and JS) rather than just python.

Also, if UI designs are saved as some intermediate representation (ie: XML) the designs become largely decoupled from the version/variant of LVGL being used to render them.

I think there are a lot of benefits to using something l

[2019-08-16 15:17] kaiakz commented on #1
@kisvegabor @embeddedt  @amirgon
This issue gives me some ideas, so I created another [project](https://github.com/kaiakz/walv/).
Use lvgl-micropython(WASM) and front-end component library (Bootstrap or other) to build an online designer. Just a webpage, even can work with a simple server. You can find more feature in README. Welcome to share your idea in the issue!

[2019-08-16 22:12] amirgon commented on #1
@kaiakz it reminds me of [this idea](https://github.com/littlevgl/lv_gui_builder/issues/1#issuecomment-469813669) to build an lvgl designer as a web application.
It [wasn't received very well](https://github.com/littlevgl/lv_gui_builder/issues/1#issuecomment-469891153) so I didn't pursue it any further.

[2019-08-16 22:57] AGlass0fMilk commented on #1
@amirgon My main reason for opposing your original proposal was that _all_ the UI was to be made in LittlevGL. This would be very clunky and/or take a long time as LVGL wasn’t designed for such complex UI (as it stands).

The web-based designer only using LVGL for simulating the WYSIWYG view sounds like a good idea.

I have made a decent amount of progress with my python/Qt-based version. It is cl

[2019-08-17 09:47] kaiakz commented on #1
Yes, this is what a web-based builder advantage is---to be a VSCode plugin.
In fact, VSCode is a very large webpage, plugins(Nodejs, JavaScript, Type) can control the special parts. Plugin developer can't write a complex GUI by native API due to the limitation of VSCode. but we can use [WebView API](https://code.visualstudio.com/api/extension-guides/webview) to insert a webpage.

[2019-08-17 10:39] kaiakz commented on #1
Here are a demo gif of my project walv:
![20190817172542](https://user-images.githubusercontent.com/51747223/63209623-d398ef00-c115-11e9-9cf4-aaefc9fb3604.gif)

I think walv is more flexible and combines more advantages. walv uses JS to warp lvgl-MicroPython(WASM), both are powerful and magic. WebPage is more convienient, and gives a beautiful interface.
@amirgon I have some problem
* How to use `

[2019-08-17 11:37] embeddedt commented on #1
I don't think using that function is going to yield the results you want in MicroPython. In C, it returns a pointer to an internal structure that should usually only be manipulated by LittlevGL itself. Maybe Python does something different.

`ddlist` is a `page`:

https://github.com/littlevgl/lvgl/blob/bbb0d2f60efc7154597928bfeef94b377ce870d3/src/lv_objx/lv_ddlist.c#L71-L76

Therefore, you can tre

[2019-08-17 15:18] kisvegabor commented on #1
Fist of all congrats to the progress! :+1:

Do you use 8 bit colors or the strips are because of the gif format?

Using MicroPython Online would really make some things easier. However, I need to mention that when I have created the online font and image converters I didn't publish offline versions. However, a lot of people have complained about it:
- "In my company internet access is restricted"

[2019-08-17 15:58] kaiakz commented on #1
Sorry，my question is incorrect.

It should be how to get the ext->label in ddlist by lv_mpy. ddlist is a special page that has a label. In C, the label is in a `lv_ddlist_ext_t` struct. Python has `class`, I just wonder how does it work, and how can I create a [new widget](https://blog.littlevgl.com/2018-12-13/extend-lvgl-objects)? Is `lv_obj_allocate_ext_attr` and `lv_obj_get_ext_attr` deprecated

[2019-08-17 19:53] amirgon commented on #1
Hi @kaiakz ! Nice progress!

The Micropython binding exposes LittlevGL user API to the user, but not the internals of LittlevGL. I considered the ext struct internal to the user.
You may want to use the ext attr when you extend a LittlevGL component in C, but not when doing so in Micropython. In python it makes more sense to inherit from a parent object and add functionality in the children. In [t

[2019-08-17 20:00] embeddedt commented on #1
This is the utopian perspective of the API.  :smiley:

In practice, we haven't actually gone through and ensured that all `lv_page` functions are reimplemented for the ddlist with the `lv_ddlist` prefix. For example, `lv_page_get_scrl` exists on `page` but not on `ddlist`.

To solve that, I think @amirgon's generator script goes through and automatically adds the relevant "parent" methods to each

[2019-08-17 20:16] amirgon commented on #1
Actually, I don't think I'm really adding "parent" methods automatically now, except from `lv_obj` methods.

@embeddedt - Let's discuss this from C user perspective. Is it ok to call any `lv_page` methods on `lv_ddlist`? What about methods with the same name that override each other?

Here is a quote from [a previous discussion about inheritance](https://github.com/littlevgl/lv_binding_micropython

[2019-08-17 20:19] embeddedt commented on #1
That was mainly what I was referring to. Usually parent methods are only used for highly advanced special cases.

It depends. Usually, you only need to do that when you want to do something advanced (like modifying the behavior of the object). Functions providing commonly used features are usually redeclared with the correct prefix (see below).

In that case, for safety, you should always use the

[2019-08-17 20:31] amirgon commented on #1
So what's the takeaway?
Suppose there's a missing function in `lv_ddlist`, that appears in `lv_page`, how do we access it from Micropython?

- Should it be added (as a static inline function) to `lv_ddlist` on lvgl upstream?
- Should the binding add all parent (`lv_page`) functions to `lv_ddlist`? This would inflate the API with many functions that are usually not used.
- Should we have a way to "

[2019-08-17 20:41] embeddedt commented on #1
Yes; I think so. Someone (i.e. me) probably needs to review all of the objects and fix the situation.

[2019-08-18 03:28] kaiakz commented on #1
@amirgon @embeddedt
Maybe we can use `super()` and `multiple inheritance`? for example, class win(obj, page, header). But LittlevGL in C doesn't use multiple inheritance, lv_win is just a lv_obj with lv_obj(header), etc.

OK, I know why `ddlist` in LittlevGL is `page`, but is `obj` in lv_mpy. In my opinion, if ddlist inherits from page that inherits from obj, ddlist should own all method of obj an

[2019-08-18 03:53] kisvegabor commented on #1
I can confirm this. Imagine, for example, the case of `lv_sw`. It is inherited from `lv_slider` and `lv_bar` however it doesn't make sense to have an `lv_sw_set_value` or `lv_sw_set_range`. Instead we have `lv_sw_on` and `lv_sw_off`. Or `lv_bar` has `lv_bar_set_sym` to draw the indicator from the zero value instead of from the left. It also doesn't make sen for `lv_sw`.

So there are 4 cases:
1. T

[2019-08-18 05:28] kaiakz commented on #1
Good idea. Since Python supports OO, I think we don't need some C-style function at all. See below:

You said all widgets inherit from `obj`, so here are some code:
[code]
@kisvegabor Then we don't need `lv_win_set_title`, `lv_win_get_content` or other at all. Just `ext=win.get_ext()`, to access title, use `ext['title']`, it is equal to a `label` class instance, so we can use all `label` method. J

[2019-08-18 07:53] amirgon commented on #1
In Micropython there is a strict distinction between **native** types and **user** types.
LittlevGL Micropython objects are native types.
Currently [inheritance is not supported](https://github.com/micropython/micropython/issues/1159) for native types, and there's an [open PR for supporting **single** inheritance](https://github.com/micropython/micropython/pull/4360), not multiple.

On Micropython

[2019-08-18 09:00] rreilink commented on #1
In pylvgl, I use `lv_obj_get_type();` on every `lv_obj_t` which is returned from lvgl, in order to return a Python object of the appropriate type.

[2019-08-18 09:12] amirgon commented on #1
Thanks for the suggestion.
Since Micropython is targeted to embedded architectures, I would prefer not doing this on runtime and waste cycles (string processing) every time  `lv_obj_t` is returned.
If a specific function that returns `lv_obj_t` is always returning a specific object type, it's best to deduce it from the code on build time.

[2019-08-18 11:06] embeddedt commented on #1
Only by using `lv_obj_get_type`, like @rreilink suggested.

Right. But since the only place where you actually retrieve an `lv_obj_t *` is at the `lv_xxx_create` call, it's not that confusing to keep track of, for a human.

* `lv_page_create` returns `lv_page`
* `lv_ta_create` returns `lv_ta`

So the easiest way to "remember" the type of an `lv_obj_t` (if that is important) is just to know which `

[2019-08-18 11:33] amirgon commented on #1
@embeddedt Let's take `lv_win_get_content` for example.
It always returns `lv_page`, but its return value is `lv_obj_t`.

My point was that if `lv_win_get_content` returned something like `lv_page_t`, it would make more sense, be more clear for the user and allow an automatic script to deduce the returned object's type.

At present, the user must know (from the docs) that `lv_win_get_content` retu

[2019-08-18 11:40] embeddedt commented on #1
Isn't QSTR supposed to mitigate that problem?

[2019-08-18 11:49] amirgon commented on #1
Not in this case. `lv_obj_get_type()` returns the data as an array of strings, not QSTRs.
QSTRs are only used internally in Micropython to represent object names, attr names, function names etc.

[2019-08-18 12:28] embeddedt commented on #1
What if we added a second API (`lv_obj_get_type_num`) that represents the type with an enum instead of a string? Would that work?

[2019-08-18 12:43] amirgon commented on #1
It's better than string processing, but still -
- It requires extra complexity and handling.
- It's not generic (very specific to lvgl implementation), so Micropython binding to other libraries could not benefit from it.
- It requires the user to read the docs, instead of understanding the return value type from the function prototype

My suggestion is a generic naming convention that would allow

[2019-08-18 19:27] embeddedt commented on #1
Let's find out what @kisvegabor thinks about it.

[2019-08-20 18:24] kisvegabor commented on #1
If I understood well the "type of return value" issue affects only the `get` and `create` functions which returns `lv_obj_t *`. If so it seems possible to introduce a naming convention for it. For example change `lv_win_get_content` :arrow_right:  `lv_win_get_content_page`. So the last word could be the type.
An other example: `lv_page_get_scrl` :arrow_right:  `lv_page_get_scrl_cont`

What do you

[2019-08-20 18:30] amirgon commented on #1
How about, instead of returning `lv_obj_t` - return `lv_win_obj_t` which can be a typedef to a `lv_obj_t`?
This would not require changing the function names, so it's not a breaking change.

[2019-08-21 14:02] kisvegabor commented on #1
@amirgon

I think it would confuse users because they wouldn't know that it's an `lv_obj_t` in the background and they might expect `lv_btn_create` to return `lv_btn_obj_t`.

However, I understand your concerns about `lv_obj_get_type_num`... Let's continue thinking...

[2019-08-21 22:23] amirgon commented on #1
@kaiakz I've added "casting" support to lvgl objects. (you would need to pull latest lv_micropython, and update git submodules).

Here is an example, which could be useful by itself, to extract object's children and cast each of them to the right type using the `get_type` function of `lv_obj`:

[code]

Then you can call `get_children(lv.scr_act())`, or with any other container object.

Does it sol

[2019-08-22 04:14] kaiakz commented on #1
@amirgon Oh, thanks! I'd like to have a try.
For lv_gui_designer and walv, my goal is to use LittlevGL in standard API and only generates code to standard LittlevGL API. So I use some feature LittlevGL provides: `drag attribute`, `event` and `user_data`.
Why I need to get children of a `ddlist` is to make `ddlist` draggable. I just use a simple and stupid way: `set_drag(True)`, but it doesn't work

[2019-08-22 06:06] amirgon commented on #1
Instead of dragging the element itself, how about painting the element on a canvas and **dragging only the element's "image"**? When the user places the element, you can create it there as a real element.
I never tried this but I think it could work, perhaps @kisvegabor or @embeddedt could comment on that.

[2019-08-22 11:06] embeddedt commented on #1
If you are referring to dragging the canvas object, that could work, but it would add additional complexity. I think the method that @kaiakz is using now is fine.

[2019-08-22 18:10] AGlass0fMilk commented on #1
This gif shows where my implementation currently stands as a desktop/Qt-based application. All the editable parameters and placeable objects are inferred using python introspection so effort to support littlevgl updates and new widgets is minimized:

![lvgl-beta](https://user-images.githubusercontent.com/350500/63538733-7c649700-c4e6-11e9-8422-b2c70276dcf5.gif)

Still need to implement dragging an

[2019-08-23 01:32] kaiakz commented on #1
@AGlass0fMilk Congratulations!
About dragging, you can refer to my implement, or bind the `QRect` with the widget: when I drag the highlight rectangle, adjust the position and size(resize the rectangle) of the widget dynamically.
I noticed your project has `highlight`, that's what I also want to achieve. I have some way to implement in the [issue](https://github.com/kaiakz/walv/issues/2)
@kisvegab

[2019-08-23 05:59] kisvegabor commented on #1
@amirgon

I never tried this but I think it could work, perhaps @kisvegabor or @embeddedt could comment on that.

With multi-display support, it's possible to create a dummy screen whose buffer is the canvas thus after a refresh LittlevGL will draw objects there. If you are interested I can shaw an example.

@kaiakz
I've commented on the new issue.

[2019-08-29 09:24] kaiakz commented on #1
@kisvegabor @embeddedt @amirgon

I am interested in it, for I want to support more feature.
Now you can try the [online demo](https://kaiakz.github.io/walv/index.html). Sorry for its ugly interface. :sweat_smile:
![Peek 2019-08-29 17-08](https://user-images.githubusercontent.com/51747223/63927840-1b5a3780-ca81-11e9-8073-e033e52c7c1e.gif)

[2019-08-29 12:47] embeddedt commented on #1
@kaiakz  Nice!

Instead of making the user download multiple files immediately, maybe it's better to let them preview the header and source files, and then choose to download them (or copy them).

You might want to indent child objects based on their position in the hierarchy. I was confused about why all my objects were being created as children of the button - until I realized that objects are c

[2019-08-29 13:18] kaiakz commented on #1
I think the title `Select A Parent` is better than `Select A Widget` :smiley: I plan to change the web-UI with more widget(bootstrap has no treeview and switch).

OK, I will add it to TODO. I think I can use [monaco-editor](https://github.com/microsoft/monaco-editor) to support the preview.

[2019-08-30 08:34] kisvegabor commented on #1
@kaiakz
Wow, that's really impressive! Congratulation!

I agree with @embeddedt about indentation of child objects. Maybe the attributes can be grouped somehow too. (obj, or text area attributes)

[2019-08-31 20:39] amirgon commented on #1
@kaiakz The demo doesn't work for me, tried both Chrome and FireFox. It just seems loading the page indefinitely. Am I missing something?

[2019-08-31 22:56] embeddedt commented on #1
@amirgon It doesn't work for me either right now, but it was working 2 days ago. Chances are @kaiakz is working on it and it's not available right now.

[2019-09-01 15:05] kaiakz commented on #1
@amirgon @embeddedt

I am sorry for this. But I haven't changed the demo yet.
Recently, I have tried it on the IOS Safaris, and it also works. Maybe github-page has some problems at that time? The demo is just a github-page of the master branch, you can clone it and run `index.html` from your disk. Make sure that you are using the **latest version browser**. When we open the webpage, the browser n

[2019-09-01 15:19] embeddedt commented on #1
Working for me again now (online version). It was probably just an issue with GitHub Pages.

[2019-09-01 21:47] amirgon commented on #1
@kaiakz It's working for me now. Very nice.

What would be the next step? What are your plans further?

- How do you plan supporting functions with more than one parameter? For example - `lv_bar_set_value` receives both `value` and `anim` parameters.  So today you can't set bar value on walv.
It's not possible to check in Micropython (by introspection) the number of arguments a function expects, a

[2019-09-03 08:07] kaiakz commented on #1
I think lv_mpy can add more information to JS port, not only parametres (how many? what) that store in Python tuple/list, but also more LittlevGL doc(It also could provide by JS parts). Luckily, Micropython has ujson for converting.
walv has not thought about the `set_xxx` yet. Maybe I should arrange the attribute at first, and store it as a JSON. Because walv now use `dir` to look up what `get_xx

[2019-09-05 18:51] kisvegabor commented on #1
Basically all public API functions are necessary but it's not trivial how to order them. In the C header files, I tried to order them as most important first but I don't know if this order is preserved in MicroPython.

[2019-09-05 18:52] embeddedt commented on #1
We could have a JSON file that stores the categories of properties, and if an unknown property is found, it just gets put at the bottom of the list.

But I wouldn't worry about order right now. Let's get the basic functionality working first.

[2019-09-05 22:56] amirgon commented on #1
I can create a JSON "metadata" file that gives more information about lvgl objects, functions, parameters, enums etc.
However, I will not be able to include "LittlevGL doc" in it, at least not based on C comments, since the parser is reading the **preprocessed** C code where all comments and preprocessor directives were already removed.

You could, if you want, write some text processing script to

[2019-09-06 13:02] amirgon commented on #1
The Micropython binding can now generate metadata, to allow full introspection.
Metadata is emitted as a JSON file and describes functions, argument names and types, enums, callbacks, etc.

Here is an example: https://raw.githubusercontent.com/littlevgl/lv_binding_micropython/master/gen/lv_mpy_example.json

I've enabled it on [lv_micropython](https://github.com/littlevgl/lv_micropython), so it's n

[2019-09-06 13:08] embeddedt commented on #1
@amirgon I had an idea for another LittlevGL project where I would want metadata like this, but not for use with Python. How hard would it be for me to modify your script to generate metadata for the C functions instead of Python functions? I should only need parameter types and return values.

[2019-09-06 13:20] amirgon commented on #1
@embeddedt The metadata generation is fed from internal data structures on the Micropython binding script, so I don't think that by itself it could help you for C.

But I suggest you use another approach: **use [pycparser](https://github.com/eliben/pycparser) directly**.
The Micropython binding script uses pycparser internally to parse lvgl headers. You can think of  pycparser outputs as metadata

[2019-09-19 14:20] kaiakz commented on #1
@amirgon @embeddedt
I tried to compile the javascript port to wasm, and got `firmware.js`, `firmware.wasm` and `micropython.js` in `/ports/javascript/build`. When I executed the `node micropython.js` in the term, It shows

[code]

Maybe the emsdk did not compile and link the something about `lvgl`, I don't know if some files miss. Due to some reason, I can not download git submoudle normally in CN

[2019-09-19 14:25] kaiakz commented on #1
@amirgon @embeddedt
I tried to compile the javascript port to wasm, I got `firmware.js`, `firmware.wasm` and `micropython.js` in `/ports/javascript/build`. When I executed the `node micropython.js` in the term, It shows

[code]

Maybe the emsdk did not compile and link the something about `lvgl`, I don't know if some files miss. Due to some reason, I can not download git submoudle normally by CN n

[2019-09-19 14:34] embeddedt commented on #1
@kaiakz

1. Are you using https://github.com/littlevgl/lv_micropython/tree/lvgl_javascript?
2. You have to download the submodules or it won't build properly.
3. Please install and activate Emscripten **1.38.25** (the newer versions haven't been tested yet).
4. If you follow the instructions [here](https://github.com/littlevgl/lv_micropython/tree/master#for-javascript-port), you should get a worki

[2019-09-19 19:09] amirgon commented on #1
@kaiakz - You are probably using the "master" branch and not the "lvgl_javascript" branch.

This is a recent change. Until recently the master branch included lvgl in the js port, but now we removed it and added lvgl only on "lvgl_javascript" branch - so you must switch to that branch.

[2019-09-21 08:40] kaiakz commented on #1
@embeddedt @amirgon
OK, I switch to `lvgl_javascript` branch. I tried to make `/ports/javascript` after finishing `mpy_cross`. But here are some error:
[code]

My env is :
[code]
When I installed `emsdk install clang-tag-e1.38.31-64bit` and `emscripten-tag-1.38.25-64bit`, it shows, and I solved it by install cmake:
[code]

But make `ports/javascrpt` still shows the same errors. But now env is :
[c

[2019-09-21 10:59] embeddedt commented on #1
You installed a different version of clang than Emscripten.

[2019-09-22 04:15] kaiakz commented on #1
Thanks! All problem solve after I reboot my computer, and I finally got the completed js files with the environment above (though different version clang). The micropython.js is large and sometimes slow(than before), maybe it needs optimizing.

[2019-09-23 10:56] hackrid opened #7 "ongoing GUI builder effort in the community"
I'm trying to find out what the current state of affairs is regarding a littlevgl gui designer.

here are some links regarding that.
Please extend the list if you find something!

https://github.com/kaiakz/lv_gui_designer
https://github.com/kaiakz/walv/tree/master
https://forum.littlevgl.com/t/wysiwyg-editor-for-littlevgl/642
https://github.com/rohmer/LVGL_UI_Creator

[2019-09-25 06:06] kisvegabor commented on #7
cc @AGlass0fMilk @kaiakz

[2019-09-25 10:45] rohmer commented on #7
I am actively developing on the last one, I am also very happy to accept any pull requests. That being said I am likely 2 weeks from being complete?

[2019-10-04 15:12] kaiakz commented on #7
I am the author of `lv_gui_designer` and `walv`. I paused the development of `lv_gui_designer`, and work on `walv`. I am now re-designing the interface of `walv` and rewriting it form jquery to vuejs. With the power of HTML5 and WASM, `walv` can do more than a designer.

[2019-10-04 16:18] rohmer commented on #7
Also, there is a difference in use cases.

While mine is being designed to be very flexible and extensable, the main point of my doing it is to support another project I am working on.  Essentially one of the requirements for that project is the ability to send UI designs over the wire.  So the output of my UI designer is:
1. All objects in a screen are fully serialized to JSON.
2. There is a yet

[2019-10-04 16:21] rohmer commented on #7
One other thing,  I am trying to write it in a way that does 2 things:
1. The under the covers things are easy to follow, but if you are extending the Designer you DONT have to know everything.  The interfaces are documented, and you just use them (Think STL library as an example)
2. Everything is extendable, I would love once this gets 'Done" to see what the community contributes to it.

[2019-10-28 15:19] CURTLab commented on #7
I'm currently working on a C++/Qt version based on this python example. It is far away from a complete GUI builder for LVGL and not well tested yet.

My question is should I upload my progess I have so far? If yes, where would be the best place.

Here is a screenshot of my current implementation:
![Capture](https://user-images.githubusercontent.com/26273648/67690980-1db41180-f99e-11e9-987c-b9ac2ca

[2019-10-28 16:56] embeddedt commented on #7
There is a lot of duplicated effort in regards to a GUI builder for LittlevGL. Perhaps it would be better for you to start with one of the existing implementations (I know that @rohmer has gotten pretty far) instead of remaking yet another one.

That being said, if you do want to upload what you have, you should probably just create a GitHub repository and post it there.

[2019-10-28 18:23] rohmer commented on #7
Well, I am very biased, since I am doing the work.  But I would definitely take a look at what I am working on.

I have architected it so that it is fairly open, and can be extended as needed.  Also everything is done in LVGL, so it clearly is WYSIWYG

[2019-10-28 20:31] CURTLab commented on #7
In my opinion Qt is a good choice for a GUI builder since it is very stable and tested, it brings all the necessary libraries in one framework, cross-platform and open-source. To use LVGL directly for the builder is a very good idea (Qt had the same) but since Qt can be build using one tool (qmake) I would give it a chance.

Thanks for the input.

[2019-10-28 21:28] rohmer commented on #7
As can LVGL, it is build using CMake

    On Monday, October 28, 2019, 04:31:30 PM EDT, CURTLab <notifications@github.com> wrote:

In my opinion Qt is a good choice for a GUI builder since it is very stable and tested, it brings all the necessary libraries in one framework, cross-platform and open-source. To use LVGL directly for the builder is a very good idea (Qt had the same) but since Qt can b

[2019-11-22 16:05] AGlass0fMilk commented on #7
Hey @CURTLab, is that based on the branch `initial-development` in this repo? I'd be interested in working on the project with you in parallel. You can create a fork.

I've been too busy the past few months with other projects that don't involve embedded UI so unfortunately LVGL has fallen from the top of my todo list. I have a couple projects coming up that will have embedded UI though so I'd lik

[2019-11-26 11:16] CURTLab commented on #7
Yes it is based on the initial-development but I rewrote it using Qt/C++ and not python. I'm pretty far at the moment and support JSON saving and loading, exporting of a C-Project, copying of widgets and changing the style of single widgets. On the other hand, I programmed it to fit the needs of my LVGL project but if you want I can upload it to my github and you can have a look.

[2019-11-26 12:28] AGlass0fMilk commented on #7
@CURTLab that would be great! I was thinking of going with Qt/C++ for more direct integration with LittlevGL. The introspection of python is probably not worth all that comes with maintaining a porting layer...

If you don’t mind open sourcing your version and putting it up in a repo I’d like to take a look and maybe help continue the effort

[2019-11-26 14:33] CURTLab commented on #7
@AGlass0fMilk I pushed my local project to github. https://github.com/CURTLab/LVGLBuilder
There are still lots of things to do but I would be very grateful to get some help and useful inputs.

[2019-11-26 16:50] AGlass0fMilk commented on #7
@CURTLab Could you document some of the things that still need to get done? I'll take a deeper look at it when I have the chance but it looks fairly comprehensive.

Submit some issues against your repository to document what "things" still need to be done and I'll see if I can help out.

[2019-11-26 16:52] AGlass0fMilk commented on #7
@CURTLab Also, could you document your build steps? Are you using any IDE?

[2019-11-26 20:28] CURTLab commented on #7
@AGlass0fMilk I use the QtCreator for development. I wrote now some instructions for building and a basic wiki and todo list. I will extend it in the future as far as I can.

[2020-05-27 08:06] MichaelDu9226 opened #8 "How the project is going & when will be released"
LittlevGL is awesome, thank you for your efforts.
I want to know how the lv_gui_builder is going and when will be released?
Thank you

[2021-04-20 09:27] M-Bab commented on #7
I did another look around and this is what I found (and what still seems to be alive):

- LVGL Builder: https://github.com/CURTLab/LVGLBuilder - a Qt based editor in active development.
- walv: https://github.com/kaiakz/walv - a python web based editor that can also be used online (follow-up of lv_gui_designer)
- GUI Guider: https://www.nxp.com/design/software/development-software/gui-guider:GUI-G

[2021-04-20 11:59] embeddedt commented on #7
This is technically not a community effort, but there is also Edgeline, the upcoming official editor from LVGL LLC. It's available as a [beta](https://forum.lvgl.io/t/v0-2-beta-is-out/5085?u=embeddedt) here. Unfortunately we do not know the planned pricing model yet.

[2021-04-20 18:43] kisvegabor commented on #7
EdgeLine now in beta but available for testing. See [here](https://forum.lvgl.io/t/v0-2-beta-is-out/5085/4).

As @embeddedt said, EdgeLine is (will be) LVGL's official UI editor.
Although technically GUI Guider is independent of LVGL LLC we have a good relationship with NXP and talk frequently to adjust our goals.

[2021-10-13 15:51] cederom commented on #8
+1 :-)

[2021-10-15 10:37] kisvegabor commented on #8
We are working on LVGL's official UI editor, called EdgeLine.
https://www.youtube.com/watch?v=UrSkzbuuGaw

You can download the beta version from here:  https://forum.lvgl.io/t/edgeline-v0-3-is-released/5838/59

I light of that I archive this repo.